@model IEnumerable<Evaluacion_1er_Progreso_Josue_Mullo.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FechaNacimiento)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
